@charset "UTF-8";
@import "plugin.css";
/******************************/
:root {
    --offset-grid: 30px;
    --offset-top: 15px;
    --offset-bottom: 15px;
    --offset-left: 15px;
    --offset-right: 15px;
    --offset-width: 15px;
}
::-webkit-input-placeholder {color: #999;}
::-moz-placeholder {color: #999;}
:-ms-input-placeholder {color: #999;}
::placeholder {color: #999}
select option[data-default] {color: #666;}
:disabled, .disabled {cursor: not-allowed;background-color: #666}
::-moz-selection {background: #ecc200;text-shadow: none;color: #fefefe;}
::selection {background: #ecc200;text-shadow: none;color: #fefefe;}
::-webkit-scrollbar-track {
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-border-radius: 0;
    background-color: #eee;
}
::-webkit-scrollbar-thumb {
    background-color: #1cc389;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    -moz-border-radius: 1px;
}
::-webkit-scrollbar {width: 8px;}
img {display: inline-block;max-width: 100%;opacity: 1;height: auto;}
body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #222;
    font-size: 14px;
    background-color: #fefefe;
}
h1, h2, h3, h4, h5, h6 {color:#444;font-family: "Roboto Condensed", sans-serif;font-weight: 700;font-style: normal;overflow: hidden;text-overflow: ellipsis;}
h1, h2, h3 {line-height: 1.8;}
a {color:#222;-webkit-transition: all 0.2s ease-out;transition: all 0.2s ease-out;display: inline-block}
a:hover, a:focus {color: #C50000}
input, button, textarea, select {font-family: 'Roboto Condensed', sans-serif;}
textarea {line-height: 1.4}
[type=color], [type=date], [type=datetime-local], [type=datetime], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=time], [type=url], [type=week], textarea {-webkit-box-shadow: none;box-shadow: none;}
.clear {clear: both;height: 0 !important;overflow: hidden;}
figure, form {display: block; position: relative;}
iframe[name="target_frame"] {position: absolute; height: 0;}
.img-res {display: block;width: 100% \9;max-width: 100%;height: auto;}
.none {display: none !important;}
.on-top {position: fixed!important;top: 0;left: 0;right: 0;z-index: 9999;max-width: 100%;margin-left: auto;margin-right: auto;}
.res.res-1by1 {padding-bottom: 100%;}
.res.res-1by2 {padding-bottom: 200%;}
.res.res-2by1 {padding-bottom: 50%;}
.res.res-3by1 {padding-bottom: calc(100% / 3);}
.res.res-3by2 {padding-bottom: calc((2 * 100%) / 3);}
.res.res-4by1 {padding-bottom: 25%;}
.res.res-4by3 {padding-bottom: 75%;}
.res.res-16by9 {padding-bottom: 56.25%;}
.res.res-custom {padding-bottom: 155%;}
.res {
    position: relative;
    display: block;
    height: 0;
    padding: 0;
    overflow: hidden;
}
.res .res-item, .res iframe, .res embed, .res object, .res video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}
.res > img, .res .img {
    display: block;
    position: absolute;
    min-height: 100%;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
}
.res.strict-h > img, .res.strict-h .img {
    height: 100%;
    width: auto;
    min-width: 100%;
    max-width: none;
}
.not-show {position: absolute;top: -99999px;left: -99999px;text-transform: initial;font-style: normal;}
.gsc-tabsArea > .gsc-tabHeader {overflow: hidden !important;}
.r > *:not(:first-child) {
    margin-top: 30px;
    margin-top: var(--offset-grid);
}
.row .row {
    margin-right: -15px;
    margin-left: -15px;
    margin-right: calc(0px - var(--offset-right));
    margin-left: calc(0px - var(--offset-left));
}
.column, .columns {
    padding-right: 15px;
    padding-left: 15px;
    padding-right: var(--offset-right);
    padding-left: var(--offset-left);
}
.top-bar {
    z-index: 9999;
    padding: 0;
    background: none;
}
/*noinspection ALL*/
li h1, li h2, li h3, li h4, li h5, li h6 {
    display:inline \9;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
}
.no-js .title-bar {display: none;}
.is-invalid-input:not(:focus) {border-color: #C50000}
.is-invalid-label {color: #C50000}
.is-dropdown-submenu {display: none;}
img.gray {
    /*noinspection CssInvalidPropertyValue*/
    filter: gray; /* IE */
    -webkit-filter: grayscale(1); /* Old WebKit */
    -webkit-filter: grayscale(100%); /* New WebKit */
    filter: url(../img/gray.svg#desaturate); /* older Firefox */
    filter: grayscale(100%); /* Current draft standard */
}
.short img,
.long img,
.cnt img,
.body-item img {
    max-width: 100% !important;
    height: auto !important;
    /*margin-left: auto;
    margin-right: auto;*/
    display: block;
}
.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #444;
    padding: 0.2em 0;
}
.fixed-bar {height: 60px}
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 1);
    z-index: 99999;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
.preloader .status {
    position: absolute;
    left: 50%;
    top: 50%;
    color: #CB4332;
    height: 38px;
    width: 38px;
    margin: -19px 0 0 -19px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/preloader.gif) center center no-repeat;
    background-size: cover;
}
.preloader .status i {display: none}
/******************************/
table.border {
    width: 100%;
    border-top: 1px solid #e6e6e6;
    border-left: 1px solid #e6e6e6;
    font-weight: 400;
}
table.border tr th {border-right: 1px solid #e6e6e6;background-color: rgba(12, 80, 161, 0.75);color: #fefefe}
table.border tr td {
    border-right: 1px solid #e6e6e6;
    border-bottom: 1px solid #e6e6e6;
}
table.border tr td > * {
    vertical-align: middle;
    margin-bottom: 0;
    padding: 10px;
}
.toTop {
    width: 34px;
    height: 34px;
    font-size: 19px;
    line-height: 34px;
    background: rgba(236, 194, 0, .8);
    color: #F0F0F0;
    position: fixed;
    right: 5px;
    bottom: 60px;
    display: none;
    overflow: hidden;
    text-align: center;
    text-decoration: none;
    z-index: 9999;
}
.toTop:hover, .toTop:focus {
    color: #fefefe;
    background: #ecc200;
    text-decoration: none;
}
.form-box-alert {
    margin-top: 15px;
    padding: 5px 30px 5px 10px;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
    display: none;
    max-width: 100%;
    border: none;
}
.form-box-alert p {margin-bottom: 0;font-size: 13px;}
.form-box-alert p .fa {
    font-size: 13px;
    margin-right: 5px;
}
.form-box-alert .close-button {
    right: 10px;
    top: 7px;
}
.form-box-alert .close-button span {
    font-size: 17px;
    display: block;
}
.btn {outline: none}
/******************************/
.inline-share {
    margin-left: -4px;
    margin-right: -4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-top: 30px;
    margin-top: var(--offset-grid);
}
.inline-share > * {
    margin-left: 4px !important;
    margin-right: 4px !important;
    display: inline-block !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    vertical-align: middle;
}
.inline-share > script {position: absolute;font-size: 0}
.inline-share > .IN-widget {margin-top: 3px;}
.inline-share > .IN-widget > span + span {position: absolute !important;}
/**************main****************/
main h3 {font-size: 35px;}
main h3 span {display: inline-block;}
main .r h3 {
    background-color: rgba(236, 194, 0, .8);
    font-size: 24px;
    margin-bottom: 30px;
}
main .r h3 span {
    color: #444;
    display: block;
    padding: 5px 20px;
}
.home-slides {overflow: hidden;}
.slides-box {
    position: relative;
    margin: 0 auto;
    top: 0;
    left: 0;
    overflow: hidden;
    visibility: hidden;
}
/******************************/
.home-col-wrapper {margin-top: 50px;margin-bottom: 50px;}
.col-wrapper .r {
    flex: 0 0 330px;
    max-width: 330px;
    flex: 0 0 calc(300px + var(--offset-grid));
    max-width: calc(300px + var(--offset-grid));
}
.analysis-links {margin-left: 10px;}
.analysis-links a {
    color: #C50000;
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 10px;
}
.analysis-links a h6 {
    border-bottom: 1px solid transparent;
    display: inline-block;
}
.analysis-links a p {
    margin-bottom: 10px;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 41px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.analysis-links a:last-child {border-bottom: none}
.analysis-links a:hover h6 {border-color: #ddd;}
/******************************/
.popular-box h4 {
    font-size: 18px;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    min-height: 52px;
}
.popular-box h4 i {
    margin: 0 15px 0 0;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border: 1px solid #444;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    max-width: 35px;
    flex: 0 0 35px;
}
.popular-box h4 span {text-transform: uppercase;display: block;text-overflow: ellipsis;-webkit-line-clamp: 2;display: -webkit-box;max-height: 52px;overflow: hidden;-webkit-box-orient: vertical;line-height: 26px;}
.popular-box .items-list {
    list-style: none;
    margin: 0;
}
.popular-box .items-list li {
    padding-top: 36px;
    overflow: hidden;
}
.popular-box .items-list li .item {position: relative;}
.popular-box .items-list li:not(.first) .item > h6 {
    float: left;
    width: 50%;
    font-size: 14px;
    margin-bottom: 5px;
}
.popular-box .items-list li:not(.first) .item > h6 a {
    display: block;
    text-overflow: ellipsis;
    /* white-space: pre-wrap; */
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 38px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.popular-box .items-list li .item .count {
    font-size: 14px;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 10px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    display: block;
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    background-color: #444;
    color: #ECC200;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
}
.popular-box .items-list li:not(.first) .item .featured {
    position: relative;
    float: left;
    width: 50%;
    padding-right: 10px;
}
.popular-box .items-list li:not(.first) .item .featured .duration {
    position: absolute;
    right: 15px;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 10px;
    color: #fefefe;
    line-height: 1.4;
    padding: 0 4px;
}
.popular-box .items-list li:not(.first) .item .meta {
    float: left;
    width: 50%;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-box .items-list li:not(.first) .item .meta span {color: #999;white-space: nowrap;}
.popular-box .items-list li:not(.first) .item .meta span i {margin-right: 5px;}
.popular-box .items-list li.first .item .count {
    background-color: #ECC200;
    color: #444;
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 1.143em;
}
.popular-box .items-list li.first .item .featured {position: relative;}
.popular-box .items-list li.first .item .featured > a:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 1;
}
.popular-box .items-list li.first .item .featured .views {font-size: 11px;display: flex;flex-wrap: nowrap;align-items: center;justify-content: space-between;position: absolute;bottom: 10px;left: 7px;right: 7px;}
.popular-box .items-list li.first .item .featured .views span {
    padding-left: 5px;
    padding-right: 5px;
    background-color: rgba(0,0,0,.7);
    color: #eee;
    z-index: 1;
}
.popular-box .items-list li.first .item .featured .views span i {margin-right: 3px;}
.popular-box .items-list li.first .item .content {
    width: 80%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 3;
}
.popular-box .items-list li.first .item .content .cat {display: inline-block;}
.popular-box .items-list li.first .item .content .cat a {
    color: #ECC200;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 15px;
    text-transform: uppercase;
}
.popular-box .items-list li.first .item .content h5 {
    display: block;
    font-size: 15px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    line-height: 1.2;
}
.popular-box .items-list li.first .item .content h5 a {
    color: #fefefe;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    max-height: 36px;
}
/******************************/
.consulting-package {margin-top: 50px;}
.consulting-package h3 {display: block;text-align: center;font-size: 40px;font-weight: normal;margin-bottom: 30px;line-height: 1.3;}
.consulting-package .item {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.consulting-package .item > span {
    -webkit-transition: all .4s;
    transition: all .4s;
    -webkit-animation: none;
    animation: none;
}
.consulting-package .item:hover > span {
    transform: scale3d(1.1,1.1,1);
    -webkit-transform: scale3d(1.1,1.1,1);
    -moz-transform: scale3d(1.1,1.1,1);
}
.consulting-package .item .cover-trigger {
    position: absolute;
    bottom: -1px;
    left: -1px;
    right: -1px;
    top: -1px;
    opacity: 1;
    display: block;
    will-change: background-color;
    z-index: 2;
    -webkit-transition: background-color .4s ease,opacity .2s ease;
    transition: background-color .4s ease,opacity .2s ease;
    background: -moz-linear-gradient(top,transparent 30%,rgba(0,0,0,0.8) 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(30%,transparent),color-stop(100%,rgba(0,0,0,0.8)));
    background: -webkit-linear-gradient(top,transparent 30%,rgba(0,0,0,0.8) 100%);
    background: -o-linear-gradient(top,transparent 30%,rgba(0,0,0,0.8) 100%);
    background: -ms-linear-gradient(top,transparent 30%,rgba(0,0,0,0.8) 100%);
    background: linear-gradient(to bottom,transparent 30%,rgba(0,0,0,0.8) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000',endColorstr='#b3000000',GradientType=0);
}
.consulting-package .item:hover .cover-trigger {opacity: .7}
.consulting-package .item .cover-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    padding: 0;
}
.consulting-package .item .cover-overlay .cover-overlay-content {
    position: absolute;
    z-index: 3;
    transition: all .3s;
    bottom: 0;
    width: 100%;
    max-width: 100%;
}
.consulting-package .item .cover-overlay .cover-overlay-content h4 {
    margin-bottom: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}
.consulting-package .item .cover-overlay .cover-overlay-content h4 a {
    display: block;
    padding: 15px;
    color: #fefefe;
    text-align: center;
    line-height: 1.5;
    background-color: rgba(236, 194, 0, .5);
}
.consulting-package .item .cover-overlay .cover-overlay-content h4 a.active,
.consulting-package .item .cover-overlay .cover-overlay-content h4 a:hover {
    background-color: rgba(197, 0, 0, 0.8);
}
/******************************/
.articles-box, .items-box {margin-bottom: 10px;}
.articles-box h3, .items-box h3 {
    border-bottom: 3px solid rgba(236, 194, 0, .8);
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.articles-box h3 span {}
.articles-box .item {
    position: relative;
    overflow: hidden;
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.articles-box .item .featured {
    position: relative;
    margin-bottom: 10px;
}
.articles-box .item .featured .cat {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}
.articles-box .item .featured .cat a {
    color: #fefefe;
    padding: 0 7px;
    font-size: 13px;
}
.articles-box .item > h5 {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 17px;
    padding-left: 5px;
    padding-right: 5px;
    margin-bottom: 10px;
}
.articles-box .item > h5 a {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    max-height: 67px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.articles-box .item .meta {
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
    align-items: center;
    justify-content: space-between;
}
.articles-box .item .meta > div {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.articles-box .item .meta > div > span {
    padding-left: 5px;
    padding-right: 5px;
}
.articles-box .item .meta > div > span i {margin-right: 0;}
/******************************/
.coins-shop > div {
    position: relative;
    margin-top: 60px;
}
.coins-shop > div > a {display: block;}
.coins-shop > div > a img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.coins-shop > div > a h6 {
    margin-bottom: 20px;
    margin-top: 10px;
    font-size: 20px;
    padding: 0 10px;
}
.coins-shop .badge {
    background: none;
    position: absolute;
    top: -30px;
    right: 10px;
    height: 0;
    padding: 0;
}
.coins-shop .badge span {
    position: absolute;
    font-size: 28px;
    color: #fefefe;
    z-index: 2;
    margin-top: 10px;
    right: 20px;
}
.coins-shop .badge:before {
    content: "\f0a3";
    font-family: FontAwesome, sans-serif;
    position: absolute;
    color: #1cc389;
    font-size: 60px;
    line-height: 60px;
    width: 60px;
    height: 60px;
    z-index: 1;
    right: 0;
}
.coins-shop .info {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.coins-shop .info .price {
    padding-left: 10px;
    padding-right: 10px;
}
.coins-shop .info .price > span {
    display: block;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "Roboto Condensed", sans-serif;
}
.coins-shop .info .price .old {text-decoration: line-through;color: #aaa;}
.coins-shop .info .price .new {
    color: #1cc389;
    font-size: 22px;
}
.coins-shop .info .seller {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
    color: #999;
}
.coins-shop .btn-ship {
    background-color: rgba(236, 194, 0, .8);
    color: #fefefe;
    padding: 8px 16px;
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    cursor: pointer;
    border-radius: 17px;
    text-transform: uppercase;
    font-style: italic;
    margin-top: 15px;
    margin-left: 10px;
}
.coins-shop .btn-ship i {margin-right: 5px;}
/******************************/
.bitcoin-charts {
    background-color: #1D1E1F;
    padding-bottom: 60px;
    padding-top: 35px;
}
.bitcoin-charts h3 {color: #fefefe;}
.bitcoin-charts .short {color: #fefefe;margin-bottom: 20px;font-size: 25px;font-weight: 300;}
.bitcoin-charts .charts {
    text-align: center;
    border-right: 1px solid #303030;
    margin-top: 20px;
}
.bitcoin-charts a:hover, .bitcoin-charts a:hover *:not(i) {color: rgba(236, 194, 0, .8) !important;}
.bitcoin-charts .charts:last-child {border-right: none}
.bitcoin-charts .charts .chart-headers {
    color: #fefefe;
    font-size: 40px;
    padding: 0;
    margin: 0;
    font-weight: 300;
}
.bitcoin-charts .charts .chart-headers i {
    margin-left: 10px;
    font-size: .7em;
    vertical-align: middle;
}
.bitcoin-charts .charts .chart-headers i.up {color: #8fdc34;}
.bitcoin-charts .charts .chart-headers i.down {color: #f33535;}
.bitcoin-charts .charts > p {
    font-size: 22px;
    padding: 0;
    margin-top: -15px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #999;
}
.bitcoin-charts .charts .embed-graph {
    height: 230px;
    overflow: hidden;
    position: relative;
    margin-left: 15px;
}
.bitcoin-charts .charts .embed-graph iframe {margin-top: -50px;}
/**************footer****************/
footer {
    background-color: #333;
    color: #ccc;
    border-top-color: rgba(0,0,0,.2);
    position: relative;
    padding-top: 50px;
}
footer .column {margin-bottom: 40px;}
footer h4 {
    margin-bottom: 25px;
    font-size: 17px;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #ddd;
}
footer p {
    opacity: .8;
    line-height: 1.7;
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
footer .btn {
    background-color: rgba(236, 194, 0, .8);
    color: #fefefe;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    display: inline-block;
    font-family: "Roboto", sans-serif;
    line-height: normal;
    cursor: pointer;
}
footer .btn:hover {background-color: #ecc200;}
.seo-f a {border-bottom: 1px solid transparent;}
.seo-f a:hover {border-color: #999;}
.seo-f .logo-f {display: block;border-bottom: none;}
.seo-f .logo-f img {
    display: block;
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.seo-f .addr {
    background: url(../img/world-map.png) no-repeat center center;
    background-size: 100%;
}
.seo-f .addr address {
    font-style: normal;
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.seo-f .addr abbr {border-bottom: 1px dotted #ccc;margin-right: 5px;}
.seo-f .addr > a {color: #eee}
.social-f .callout {
    margin-bottom: 30px;
    background-color: rgba(0,0,0,.2);
    padding: 20px;
    min-height: 20px;
    border-color: hsla(0,0%,100%,.15);
    color: #ccc;
    margin-bottom: var(--offset-grid);
}
.social-f .callout h5 {
    color: #ddd;
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.social-f .callout .btn-f i {margin-right: 5px;}
.frm-contact .is-invalid-input:not(:focus) {background-color: rgba(0,0,0,.35);}
.frm-contact > div:not(.form-box-alert) {
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}
.frm-contact > div label {
    color: #999;
    background-color: rgba(0,0,0,.35);
    border-color: rgba(0,0,0,.25);
}
.frm-contact > div label.is-invalid-label {border-color: #C50000}
.frm-contact > div label i {
    font-size: 14px;
    display: block;
    width: 2.4375rem;
    height: 2.4375rem;
    text-align: center;
    line-height: 2.4375rem;
}
.frm-contact > div label.is-invalid-label i {color: #C50000}
.frm-contact > div input, .frm-contact > div textarea {
    margin-bottom: 0;
    color: #ddd;
    background-color: rgba(0,0,0,.2);
    border-color: rgba(0,0,0,.25);
}
.frm-contact > div input {}
.frm-contact > div input::placeholder, .frm-contact > div textarea::placeholder {color: #666}
/*.frm-contact > div input:hover, .frm-contact > div textarea:hover,*/
.frm-contact > div input:focus, .frm-contact > div textarea:focus {
    outline: none;
    box-shadow: none;
    background-color: rgba(0,0,0,.35);
    border-color: rgba(0,0,0,.25);
}
.frm-contact > .btn-group {
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
}
.frm-contact > .btn-group cite {color: #ccc;}
.frm-contact > .btn-group cite span {
    color: #C50000;
    font-weight: 700;
}
/******************************/
footer .footer-cp .column {margin-bottom: 0}
.footer-cp {
    border-top: 1px solid hsla(0,0%,100%,.15);
    padding: 20px 0 10px 0;
}
.footer-cp .copyright {
    font-size: 12px;
    margin-bottom: 10px;
}
.footer-nav ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    font-size: 12px;
}
.footer-nav ul li:not(:last-child):after {
    content: '/';
    color: #ccc;
    padding: 0 10px;
}
.footer-nav ul li a {
    color: #ccc;
    border-bottom: 1px solid transparent;
}
.footer-nav ul li a:hover {border-bottom-color: #999}
/******************************/
.social-follow {font-size: 0;}
.social-follow span.lbl {
    font-size: 13px;
    margin-right: 10px;
    height: 22px;
    vertical-align: middle;
    display: none;
}
.social-follow a {
    margin-right: 10px;
    padding: 0;
    display: inline-block;
    border: 1px solid transparent;
}
.social-follow a:last-child {margin-right: 0;}
.social-follow a i {
    font-size: 14px;
    color: #ccc;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
}
.social-follow .fb {background-color:#3B5998;}
.social-follow .gp {background-color:#DB4437;}
.social-follow .yt {background-color:#E62117;}
.social-follow .tt {background-color:#1DA1F2;}
.social-follow .le {background-color:#0073B0;}
.social-follow .pi {background-color:#BD081C;}
.social-follow .fb:hover {color:#3B5998;background:none;border-color: #3B5998;}
.social-follow .gp:hover {color:#DB4437;background:none;border-color: #DB4437;}
.social-follow .yt:hover {color:#E62117;background:none;border-color: #E62117;}
.social-follow .tt:hover {color:#1DA1F2;background:none;border-color: #1DA1F2;}
.social-follow .le:hover {color:#0073B0;background:none;border-color: #0073B0;}
.social-follow .pi:hover {color:#BD081C;background:none;border-color: #BD081C;}
.social-follow .fb:hover i {color:#3B5998;}
.social-follow .gp:hover i {color:#DB4437;}
.social-follow .yt:hover i {color:#E62117;}
.social-follow .tt:hover i {color:#1DA1F2;}
.social-follow .le:hover i {color:#0073B0;}
.social-follow .pi:hover i {color:#BD081C;}
/************************************/
.footer-map .toogle-map {
    color: #ccc;
    font-weight: 500;
    margin-bottom: 20px;
    border-bottom: 1px solid transparent;
}
.footer-map .toogle-map:hover {border-color: #999}
.footer-map .toogle-map i {
    margin-left: 10px;
    color: #C50000;
    background-color: #ccc;
    border-radius: 50%;
}
.map-location {display: none !important;}
.map-hide {display: none}
.map-model img {max-width: none !important;}
.iw-content p {margin-bottom: 0; font-family: "Roboto", sans-serif;color: #444}
.iw-content .medium {font-weight: 500;}
.iw-content a {color: #427fed}
.iw-content a:hover {text-decoration: underline}
.gm-style .gm-style-iw {max-width: 640px}
/**************header****************/
.main-header .logo a {
    padding: 5px 0;
    height: 60px;
    display: block;
}
.main-header .logo a img {
    display: block;
    max-height: 100%;
}
/**************blog****************/
.detail-col-wrapper .r {
    padding-top: 10px;
    border-left: 1px solid #ddd;
}
.detail-col-wrapper .r > aside {
    margin-top: 30px;
    margin-top: var(--offset-grid);
}
.detail-col-wrapper .r > aside:last-child {margin-bottom: 40px}
/******************************/
.news-breadcrumbs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 15px -15px;
}
.news-breadcrumbs .time-update {
    padding: 0 15px;
    font-size: 13px;
    font-weight: 700;
    color: #ccc;
    display: block;
    line-height: 1.4;
}
.breadcrumbs {
    padding: 15px;
    margin-bottom: 0;
}
.breadcrumbs li a {
    font-weight: 700;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 13px;
    color: rgba(236, 194, 0, .8);
    line-height: 1.4;
}
.breadcrumbs li span {
    font-size: 13px;
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 700;
    color: #999;
    line-height: 1.4;
    white-space: nowrap;
}
.breadcrumbs li a:hover {text-decoration: none;color: #C50000;}
.breadcrumbs li:not(:last-child)::after {
    margin-left: 10px;
    margin-right: 10px;
}
/******************************/
.breadcrumbs-wrapper {
    margin-top: 15px;
    margin-bottom: 15px;
}
.breadcrumbs-wrapper .breadcrumbs {
    padding-right: 0;
    padding-left: 0;
}
/******************************/
.news-body {margin-bottom: 40px;}
.news-body h1 {
    line-height: 1.3;
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.news-body .cnt a {line-height: 1.4;color: #C50000;}
/******************************/
.tags {
    padding: 10px 0;
    border-top: 1px dotted #ccc;
    margin-top: 30px;
    border-bottom: 1px dotted #ccc;
}
.tags > b, .tags > strong {
    font-weight: 700;
    font-size: 13px;
}
.tags > a {
    margin: 0 5px;
    font-size: 12px;
    color: #C50000;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid transparent;
}
.tags > a:hover {border-bottom-color: #C50000;}
/******************************/
.comment-box {
    margin-top: 30px;
    margin-top: var(--offset-grid);
}
.comment-box h3 {display: none;}
/******************************/
.img-bottom .r {
    flex: 0 0 366px;
    max-width: 366px;
    flex: 0 0 calc(336px + var(--offset-grid));
    max-width: calc(336px + var(--offset-grid));
}
.bx-wrapper {
    box-shadow: none;
    border: none;
    margin-bottom: 0;
    background: none;
}
.bx-wrapper img {display: block;margin-left: auto;margin-right: auto}
/******************************/
.top-news h4 {
    text-transform: uppercase;
    font-size: 22px;
    overflow: visible;
    margin-bottom: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid #ddd;
}
.top-news ul {
    list-style: none;
    margin: 0;
}
.top-news li:not(:last-child) {
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.top-news figcaption h6 {margin-bottom: 0;}
.top-news figcaption h6 a {padding-top: 10px;}
/******************************/
#clock-wp {
    font-family: "Roboto", sans-serif;
    font-size: 0;
    font-weight: 700;
    color: #ccc;
    display: block;
    text-transform: uppercase;
}
#clock-wp > :not(:first-child) {margin-left: 5px;}
#clock-wp .date-txt {font-size: 13px;display: inline-block;}
#clock-wp ul {
    list-style: none;
    margin: 0;
    font-size: 0;
    display: inline-block;
}
#clock-wp ul::before {
    content: "|";
    font-size: 13px;
    padding-right: 5px;
}
#clock-wp ul li, #clock-wp .gmt {
    display: inline-block;
    font-size: 13px;
}
/******************************/
.news-list-box h3 {
    border-bottom: 2px solid rgba(236, 194, 0, .8);
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
    font-size: 30px;
}
.news-list-box .item {
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.news-list-box .item .featured {
    position: relative;
    float: left;
    width: 35%;
    padding-right: 15px;
    padding-right: var(--offset-right);
}
.news-list-box .item .featured .cat {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
    z-index: 1;
}
.news-list-box .item .featured .cat a {
    color: #fefefe;
    padding: 1px 7px;
    font-size: 14px;
}
.news-list-box .item > h6 {
    font-size: 18px;
    float: left;
    width: 65%;
    margin-bottom: 10px;
}
.news-list-box .item .info {
    font-size: 13px;
    margin-left: -10px;
    margin-right: -10px;
    float: left;
    width: 65%;
    margin-bottom: 5px;
}
.news-list-box .item .info > span {
    padding-left: 10px;
    padding-right: 10px;
}
.news-list-box .item .info > span i {margin-right: 5px;}
.news-list-box .item .short {
    float: left;
    width: 65%;
    margin-bottom: 5px;
}
.news-list-box .item .meta {
    float: left;
    width: 65%;
    font-size: 13px;
    margin-left: -10px;
    margin-right: -10px;
}
.news-list-box .item .meta > span {
    padding-left: 10px;
    padding-right: 10px;
}
.news-list-box .item .meta > span i {margin-right: 5px;}
/******************************/
.img-bottom {margin-bottom: 40px}
/******************************/
.popular-box2 {margin-bottom: 40px;margin-top: 30px;}
.popular-box2 h4 {
    font-size: 24px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 25px;
}
.popular-box2 h4 span {}
.popular-box2 ul {
    list-style: none;
    margin: 0;
}
.popular-box2 ul li:not(.first) {
    display: block;
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0;
    position: relative;
}
.popular-box2 ul li:not(.first):last-child {border-bottom: none}
.popular-box2 ul li:not(.first) h6 {
    font-weight: 400;
    margin-bottom: 0;
}
.popular-box2 ul li:not(.first) h6 a {}
.popular-box2 ul li:not(.first) h6 a:hover {}
.popular-box2 .more {
    color: #C50000;
    font-weight: 500;
}
.popular-box2 ul li.first {}
.popular-box2 ul li.first {}
.popular-box2 ul li.first .item {
    margin-bottom: 30px;
    margin-bottom: var(--offset-grid);
}
.popular-box2 ul li.first .item .featured {
    position: relative;
    margin-bottom: 15px;
    margin-bottom: var(--offset-bottom);
}
.popular-box2 ul li.first .item .featured .cat {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: rgba(197, 0, 0, .8);
    z-index: 1;
}
.popular-box2 ul li.first .item .featured .cat a {
    color: #fefefe;
    padding: 4px 10px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.popular-box2 ul li.first .item h5 {
    font-size: 20px;
    line-height: 29px;
    margin-bottom: 10px;
}
.popular-box2 ul li.first .item h5 a {
    display: block;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    max-height: 57px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.popular-box2 ul li.first .item .short {
    margin-bottom: 0;
    color: #555;
    font-size: 14px;
    text-overflow: ellipsis;
    word-wrap: break-word;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    max-height: 88px;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
/******************************/
.slider-news {overflow: hidden;}
.slider-news .flexslider {
    margin-bottom: 40px;
    border: none;
    box-shadow: none;
    border-radius: 0;
}
.slider-news .flexslider .slides {}
.slider-news .flexslider .slides li {}
.slider-news .flexslider .slides li .captions {margin-top: 20px;}
.slider-news .flexslider .slides li .captions h5 {
    display: block;
    margin-bottom: 15px;
    font-size: 26px;
    text-transform: uppercase;
}
.slider-news .flexslider .slides li .captions h5 a {}
.slider-news .flexslider .slides li .captions > p {
    margin-bottom: 0;
    font-size: 15px;
}
.slider-news .flexslider .flex-nav {
    position: static;
    opacity: 0;
    transition: all 0.2s linear;
}
.slider-news:hover .flexslider .flex-nav {opacity: 1}
.slider-news .flexslider .flex-nav > span {
    z-index: 9;
    top: 50%;
    margin-top: -90px;
}
.slider-news .flexslider .flex-nav > span:hover {opacity: 0.8}
.slider-news .flexslider .flex-nav .flex-prev {}
.slider-news .flexslider .flex-nav .flex-next {right: 0;}
/******************************/
.search-box {margin-bottom: 40px;}
.search-box .frm-search {}
.search-box .frm-search input {
    margin-bottom: 0;
    padding-right: 35px;
}
.search-box .frm-search button {
    position: absolute;
    right: 12px;
    top: 10px;
}
.search-box .frm-search button i {
    font-size: 16px;
    color: #666;
}
/******************************/
.featured-news {}
.featured-news h4 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 15px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: normal;
}
.featured-news h4 span {}
.featured-news ul {
    list-style: none;
    margin: 0;
}
.featured-news ul li {
    border-bottom: 1px solid #e9e9e9;
    padding: 10px 0px;
}
.featured-news ul li:last-child {}
.featured-news ul li a {
    font-size: 15px;
}
.featured-news ul li a:hover {}
/******************************/
@media only screen and (max-width: 1199px) {

    .main-header .logo a {height: 50px}
    .nav > li > a,
    .dropdown.menu > li > a,
    .dropdown.menu > li.is-dropdown-submenu-parent > a {
        line-height: 50px;
    }
}
@media only screen and (max-width: 1023px) {

    .row {max-width: 767px}
    .main-header {
        background-color: #000000;
        z-index: 9999;
        position: relative;
    }

    .main-nav {z-index: 10;}
    .title-bar-title {display: none}
    .title-bar {
        background: transparent;
        height: 100%;
        padding: 15px;
    }
    .title-bar .menu-icon {
        outline: none;
        width: 30px;
        height: 20px;
        display: block;
        margin-right: 0;
        margin-left: 0;
    }
    .title-bar .menu-icon::after {box-shadow: 0 9px 0 #fefefe, 0 18px 0 #fefefe;}
    .title-bar .menu-icon:hover::after {
        background: #cacaca;
        box-shadow: 0 9px 0 #cacaca, 0 18px 0 #cacaca;
    }
    .top-bar {
        position: absolute;
        left: 15px;
        right: 15px;
        left: var(--offset-left);
        right: var(--offset-right);
    }
    .top-bar .nav.vertical {
        background-color: #192835;
        padding: 15px 40px 15px 30px;
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
    }
    .nav.vertical a {line-height: normal;color:#fefefe}
    .nav.vertical a:hover {color: #fefefe}
    .nav.vertical > li > a {
        color: #fefefe;
        padding: 15px 0;
        font-size: 14px;
        font-weight: 500;
    }
    .accordion-menu .is-accordion-submenu-parent:not(.has-submenu-toggle) > a::after {
        right: -18px;
        border: inset 4px;
        border-top-style: solid;
        border-color: #fefefe transparent transparent;
        border-bottom-width: 0;
        margin-top: -2px;
    }
    .menu.nested {background-color: transparent;}
    .menu.nested > li > a {
        padding: 10px 0;
        font-size: 14px;
        font-weight: 400;
        color: #ddd;
    }
    .nav.vertical > li.nav-bg > a {
        color: #C50000;
        font-weight: 700;
    }
    /******************************/
    .frm-contact > div input,
    .frm-contact > div textarea {font-size: 14px}
    .bitcoin-charts .charts.mkt-cap-col {border-right: none}
    .home-col-wrapper .r {
        flex: 0 0 100%;
        max-width: 100%;
        margin-top: 30px;
    }
    /******************************/
    .home-col-wrapper {margin-top: 35px}
    .consulting-package h3 {
        margin-bottom: 10px;
        font-size: 35px;
    }
    .consulting-package .consulting-wp > div {
        padding-bottom: 15px;
        padding-bottom: var(--offset-bottom);
        padding-top: 15px;
        padding-top: var(--offset-top);
    }
    .consulting-package .item > span {padding-bottom: 56.25%;}
    .consulting-package .item > span img {
        width: 100%;
        min-height: 100%;
        height: auto;
    }
    .consulting-package .item .cover-overlay .cover-overlay-content h4 {font-size: 15px;}
    .consulting-package .item .cover-overlay .cover-overlay-content h4 a {padding: 10px;}
    /******************************/
    .articles-box .item > h5 {font-size: 16px;}
    .articles-box .item > h5 a {max-height: 66px;}
    /******************************/
    .coins-shop > div {
        margin-left: auto;
        margin-right: auto;
        max-width: 420px;
    }
}
@media only screen and (max-width: 767px) {

    .row {max-width: 639px}
    .consulting-package h3 {font-size: 30px}
    /******************************/
    .home-articles-box .row .column,
    .home-articles-box .row .columns {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
    /******************************/
    .popular-box .column:not(:last-child) .items-list,
    .popular-box .columns:not(:last-child) .items-list {
        margin-bottom: 30px;
    }
}
@media only screen and (max-width: 639px) {

    :root {
        --offset-grid: 20px;
        --offset-top: 10px;
        --offset-bottom: 10px;
        --offset-left: 10px;
        --offset-right: 10px;
        --offset-width: 10px;
    }

    .top-bar .nav.vertical {padding: 10px 38px 10px 20px;}
    .nav.vertical > li > a {padding: 10px 0}
    /******************************/
    .bitcoin-charts {
        padding-bottom: 50px;
        padding-top: 30px;
    }
    .bitcoin-charts .charts {border-right: none}
    /******************************/
    .consulting-package .item .cover-overlay .cover-overlay-content h4 a {
        text-align: left;
        padding: 10px 15px;
    }
    /******************************/
    .articles-box .item > h5 {font-size: 15px;}
    .articles-box .item > h5 a {max-height: 63px;}
    /******************************/
    .popular-box .items-list li:not(.first) .item .featured {width: 35%;}
    .popular-box .items-list li:not(.first) .item > h6 {
        width: 65%;
        font-size: 15px;
        margin-top: 3px;
    }
    .popular-box .items-list li:not(.first) .item .meta {
        width: 65%;
        justify-content: flex-start;
        margin-left: -10px;
        margin-right: -10px;
    }
    .popular-box .items-list li:not(.first) .item .meta span {
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media only screen and (max-width: 419px) {

    .consulting-package {margin-top: 30px}
    .consulting-package h3 {
        font-size: 18px;
        margin-bottom: 20px;
        font-weight: 700;
    }
    /******************************/
    .popular-box .row .column,
    .popular-box .row .columns {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}
/******************************/
@media only screen and (min-width: 768px) {}
@media only screen and (min-width: 1024px) {

    .main-header {background-color: #000000;}
    .title-bar {display: none;}
    .top-bar ul {background-color: transparent;z-index: 9999;}
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after,
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {
        font-family: 'FontAwesome', serif;
        border: none;
        font-size: 13px;
        margin-top: -7px;
        right: 14px;
        content: "";
        left: inherit;
    }
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-right > a::after {content: "\f105";}
    .is-dropdown-submenu .is-dropdown-submenu-parent.opens-left > a::after {content: '\f104';}
    .is-dropdown-submenu .is-dropdown-submenu-parent a {padding-right: 1.5rem}
    .dropdown.menu a {
        -webkit-transition: all 0.1s ease-out;
        transition: all 0.1s ease-out;
    }
    .is-dropdown-submenu.js-dropdown-active {
        box-shadow: 0 0 2px rgba(0,0,0,0.3);
        background: #182024;
        border-color: transparent;
        min-width: 250px;
    }
    .is-dropdown-submenu.js-dropdown-active  a {color: #ccc;font-size: 15px;line-height: 1.4;}
    .is-dropdown-submenu.js-dropdown-active .is-active > a {color: #fefefe;}
    .is-dropdown-submenu.js-dropdown-active  a.active,
    .is-dropdown-submenu.js-dropdown-active  a:hover,
    .is-dropdown-submenu.js-dropdown-active  a:focus {
        color: #fefefe;
        background-color: transparent;
    }
    .nav > li > a,
    .dropdown.menu > li > a,
    .dropdown.menu > li.is-dropdown-submenu-parent > a {
        display: block;
        color: #fefefe;
        padding-top: 0;
        padding-bottom: 0;
        text-transform: uppercase;
        font-family: "Roboto", sans-serif;
        font-weight: normal;
        font-size: 16px;
        letter-spacing: 1px;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .dropdown.menu > li.is-dropdown-submenu-parent > a {padding-right: 1.5rem}
    .dropdown.menu > li.is-dropdown-submenu-parent > a:after {
        font-family: 'FontAwesome', sans-serif;
        content: "\f0d7";
        border: none;
        font-size: 12px;
        margin-top: -26px;
        right: 17px;
        color: #fefefe;
    }
    .dropdown.menu > li.is-active > a,
    .dropdown.menu > li > a.active,
    .dropdown.menu > li > a:hover,
    .dropdown.menu > li > a:focus {
        color: #fefefe;
        background-color: rgba(236, 194, 0, .8);
    }

    .nav > li.nav-bg > a {background-color: #C50000;}
    .nav > li.nav-bg > a:hover,
    .nav > li.nav-bg > a:focus,
    .nav > li.nav-bg > a.active {
        background-color:#C50000;
    }
}
@media only screen and (min-width: 1200px) {

    .nav > li > a,
    .dropdown.menu > li > a,
    .dropdown.menu > li.is-dropdown-submenu-parent > a {
        font-size: 18px;
        padding-left: 1.2rem;
        padding-right: 1.2rem;
        line-height: 60px;
    }
    .dropdown.menu > li.is-dropdown-submenu-parent > a {padding-right: 1.6rem}
    .dropdown.menu > li.is-dropdown-submenu-parent > a:after {margin-top: -31px;}
}
/******************************/
@media print {

    .hidden-print, .not-print, .toTop {
        display: none !important;
        height: 0;
    }
}
